main {
    background-color: var(--tertiary-bg-color);
}

body {
    margin: 0;
}

header {
    background-color: #778DA9;
    color: black;

    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contactDescription {
    font-family: Alphazet;
    font-size: 2.2rem;
    color: #ffffff;
    font-weight: bold;
    max-width: 900px;
    width: 90%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.contact-container {
    width: 100%;
    max-width: 60rem;
    min-width: 300px;
    padding: 1.25rem;
    margin: 2rem auto;
    background-color: #575757;
    color: #FFFFFF;
}

.form-title {
    font-family: Alphazet;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.25rem;
}

.form-row {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.form-group {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
    margin-top: 1.25rem;
}

label {
    font-size: 1.5rem;
    font-family: Alphazet;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

input, textarea {
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 0.06rem solid #ccc;
    background-color: #707070;
    font-size: 0.9rem;
}

textarea {
    min-height: 10rem;
    resize: vertical;
}

input::placeholder {
    color: #ccc;
}

input:focus, textarea:focus {
    background-color: white;
    color: black;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: black;
}

input:valid, textarea:valid {
    background-color: white;
    color: black;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
}

.submit-button {
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    border: 0.06rem solid #ccc;
    background-color: #707070;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.5rem;
    font-family: Alphazet;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #f0f0f0;
    color: black;
}

.bg-success {
    background-color: #d4edda;
    color: #155724;
    padding: 1rem;
    margin: 1.25rem auto;
    border-radius: 0.4rem;
    width: fit-content;
}

.bg-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1rem;
    margin: 1.25rem auto;
    border-radius: 0.4rem;
    width: fit-content;
}