:root {
    --darkmode-color: black;
    --primary-color: #415A77;
    --primary-color-2: #778DA9;
    --secondary-color: #4A051C;
    --primary-bg-color: white;
    --secondary-bg-color: #E0E1DD;
}

.darkmode {
    --darkmode-color: white;
    --primary-color: #415A77;
    --primary-color-2: #778DA9;
    --secondary-color: #4A051C;
    --primary-bg-color: #3B3B3B;
    --secondary-bg-color: #E0E1DD;
}

* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

header, section {
    color: var(--darkmode-color);
}

nav {
    padding: 1vh 1vh 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

.navText {
    padding-top: 3vh;
    justify-self: flex-end;
    display: flex;
    gap: 3vw;
    margin: 0;
}

nav a {
    font-family: Uwais;
    text-decoration: none;
    color: var(--darkmode-color);
    font-size: 3em;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

nav a:visited {
    color: var(--primary-color);
}

nav img {
    padding-top: 0.7vh;
    padding-left: 1.2vw;
    width: 25vw;
}

.theme-switch image {
    padding: 0;
}

header {
    background-color: var(--primary-color-2);
    /*width: 100vw;*/
    height: 54vh;
    display: flex;
    gap: 10vw;
}

.description, .goals, .reasons {
    background-color: #575757;

}

.description p, .aboutDescription, .goalsText, .reasonsText, .download p {
    font-family: Alphazet;
    font-size: 2.2rem;
    color: #ffffff;
    font-weight: bold;
    width: 80vw;
    text-align: center;
    justify-self: center;
    padding: 50px 140px 50px 50px;
}

.aboutDescription {
    font-size: 2.2rem;
    width: 65vw;
}

.goalsText {
    width: 85vw;
}

.reasonsText {
    color: black;
}

h1, h2, h3 {
    font-family: Uwais;
    color: #000000;
    font-size: 8rem;
    letter-spacing: 8px;
    justify-self: center;
    align-self: center;
    padding-left: 130px;
}

.aboutH1 {
    color: white;

}

.goalsH2 {
    padding-left: 0;
    color: white;
}

.reasonsH3, .downloadH2 {
    padding-left: 0;
}

.downloadH2 {
    font-size: 6rem;
    padding-bottom: 3vh;
}

.download p {
    color: black;
}

.download {
    padding-bottom: 10vh;
}

.buttonDownload {
    border: black 1.6px solid;
    font-family: Alphazet;
    font-size: 2.2rem;
    justify-self: center;
}

.buttonDownload a {
    text-decoration: none;
    color: black;
}

.download div {
    justify-self: center;
}

header img, .smartCamera img {
    width: 26vw;
    height: fit-content;
    justify-self: flex-start;
    padding: 3vw;
    object-fit: contain;

}

header img {
    padding-top: 0;
}

.imgDiv {
    padding-left: 180px;
    padding-top: 0;
}

header div {
    justify-self: flex-end;
}

.smartCamera {
    background-color: var(--secondary-bg-color);
    display: flex;
    gap: 18vw;
    padding-bottom: 5vh;
}


h2 {
    padding-left: 200px;
    padding-top: 100px;
}

.textSplit {
    padding-left: 100px;
}

.smartCamera p {
    font-family: Alphazet;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    padding-left: 280px;
}

.reasons {
    background-color: var(--secondary-bg-color);
    padding-top: 7vh;
    /*padding-bottom: 3vh;*/
}

footer {
    background-color: #778DA9;
    height: 30vh;
    color: #404040;
}

footer img {
    width: 8vw;
    height: 8vh;
    object-fit: contain;
    padding: 10px;
}

.footerText {
    padding: 12px;
    display: flex;
    flex-flow: nowrap column;
    gap: 20px;
}

footer a {
    font-family: Uwais;
    font-size: 1.5rem;
    text-decoration: none;
    color: #404040;
}

footer a:hover {
    text-decoration: solid underline #404040;
}

i {
    font-size: 2rem;
    padding: 7px;
}

.imgTextTogether {
    display: flex;
    width: 100vw;
    padding-left: 80px;
    padding-top: 30px;
}

.socials {
    display: flex;
    flex-flow: nowrap column;
    gap: 20px;
    padding-left: 1000px;
    padding-top: 7px;
}

@font-face {
    font-family: Uwais;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/UwaisSans.ttf");
}

@font-face {
    font-family: Nicholas;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/Nicholas.ttf");
}

@font-face {
    font-family: Alphazet;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/Alphazet-Light.ttf");
}

@font-face {
    font-family: Mickle;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/Mickle.ttf");
}