:root {
    --primary-text-color: black;
    --secondary-text-color: white;
    --tertiary-text-color: #404040;

    --primary-color: #415A77;
    --primary-color-2: #778DA9;

    --primary-bg-color: white;
    --secondary-bg-color: #E0E1DD;
    --tertiary-bg-color: #575757
}

.darkmode {
    --primary-text-color: #F5F5F5;
    --secondary-text-color: #F5F5F5;
    --tertiary-text-color: #B0B0B0;

    --primary-color: #778DA9;
    --primary-color-2: #404250;

    --primary-bg-color: #393737;
    --secondary-bg-color: #1E1E1E;
    --tertiary-bg-color: #2A2A2A;
}

#theme-switch .dark {
    display: none;
}

.darkmode #theme-switch .light {
    display: none;
}

.darkmode #theme-switch .dark {
    display: inline;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

main {
    width: 100%;
    display: block;
}

header, section {
    color: var(--primary-text-color);
}

nav {
    padding: 1vh 1vh 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

.navText {
    padding-top: 3vh;
    display: flex;
    gap: 3vw;
}

nav a {
    font-family: Uwais;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 3em;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

nav a:visited {
    color: var(--primary-color);
}

nav img {
    padding-top: 0.7vh;
    padding-left: 1.2vw;
    width: 25vw;
}

#theme-switch img {
    padding: 0;
}

header {
    background-color: var(--primary-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
    gap: 80px;
    text-align: center;
    flex-wrap: wrap;
}

.aboutH1 {
    font-size: 8rem;
    line-height: 0.9;
    color: var(--secondary-text-color);
    flex: 1;
    padding-left: 0;
}

.aboutDescription {
    flex: 1.5;
    font-family: Alphazet;
    font-size: 2rem;
    color: var(--secondary-text-color);
    font-weight: bold;
    text-align: center;
    max-width: 900px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description, .goals, .reasons {
    background-color: var(--tertiary-bg-color);
}

.description p {
    font-family: Alphazet;
    font-size: 2.2rem;
    color: var(--secondary-text-color);
    font-weight: bold;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}

.goals,
.reasons {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goalsH2,
.reasonsH3 {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

.goalsText,
.reasonsText {
    font-family: Alphazet;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--secondary-text-color);

    max-width: 1000px;
    width: 90%;

    padding: 40px;

    text-align: center;
    line-height: 1.6;

    background: transparent;
}

h1, h2, h3 {
    font-family: Uwais;
    color: var(--primary-text-color);
    font-size: 8rem;
    letter-spacing: 8px;
    text-align: center;
    margin: 0 auto;
}

.goalsH2 {
    color: var(--secondary-text-color);
}

.reasonsH3, .downloadH2 {
    padding-left: 0;
}

.downloadH2 {
    font-size: 6rem;
    padding-bottom: 3vh;
}

.download {
    padding-bottom: 10vh;
}

.buttonDownload {
    border: black 1.6px solid;
    font-family: Alphazet;
    font-size: 2.2rem;
    justify-self: center;
}

.buttonDownload a {
    text-decoration: none;
    color: black;
}

.download div {
    justify-self: center;
}

header img, .smartCamera img {
    width: 26vw;
    height: fit-content;
    padding: 3vw;
    object-fit: contain;
}

header img {
    padding-top: 0;
}

.smartCamera {
    background-color: var(--secondary-bg-color);
    display: flex;
    gap: 18vw;
    padding-bottom: 5vh;
}

.smartCamera p {
    font-family: Alphazet;
    font-size: 2rem;
    color: var(--primary-text-color);
    font-weight: bold;
    padding-left: 280px;
}

.reasons {
    background-color: var(--secondary-bg-color);
    padding-top: 7vh;
}

footer {
    background-color: var(--primary-color-2);
    height: 30vh;
    color: var(--tertiary-text-color);
}

footer img {
    width: 8vw;
    height: 8vh;
    object-fit: contain;
    padding: 10px;
}

.footerText {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer a {
    font-family: Uwais;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--tertiary-text-color);
}

footer a:hover {
    text-decoration: solid underline var(--tertiary-text-color);
}

i {
    font-size: 2rem;
    padding: 7px;
}

.imgTextTogether {
    display: flex;
    width: 100vw;
    padding-left: 80px;
    padding-top: 30px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 1000px;
    padding-top: 7px;
}

@font-face {
    font-family: Uwais;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/UwaisSans.ttf");
}

@font-face {
    font-family: Nicholas;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/Nicholas.ttf");
}

@font-face {
    font-family: Alphazet;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/Alphazet-Light.ttf");
}

@font-face {
    font-family: Mickle;
    src: url("https://file.garden/aCHSjVU4PCQNDvKI/Mickle.ttf");
}